.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

.navbarlogo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbarlinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbarlinks li {
  margin-left: 1rem;
}

.navbarlinks a {
  color: white;
  text-decoration: none;
}